<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="chuye.kafka" type="Chuye.Kafka.KafkaConfigurationSection, Chuye.Kafka" />
  </configSections>
  <chuye.kafka>
    <broker host="jusfr.kafka" port="9092" />
    <buffer maxBufferPoolSize="1048576" maxBufferSize="65536" requestBufferSize="4096"
      responseBufferSize="65536" />
    <topicPartitions>
      <add topic="demoTopic1" partition="1" />
      <add topic="demoTopic2" partition="1" />
    </topicPartitions>
  </chuye.kafka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>